@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 5%;
        right: 0;
        width: 30%;
        background: rebeccapurple;
        z-index: 100;
        padding: 20px;
    }
    .menu li a {
        font-size: 20px;
        display: inline-block;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
    }
    .home{
        position: relative;
        height: 95vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 1rem;
    }
    .home-content h1{
        font-size: 52px;
    }
    .home-content p {
        font-size: 18px;
        line-height: 28px;
        text-align: justify;
        padding-bottom: 20px;
    }
    .home-img img{
        width: 100%;
    }
    .category{
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        
    }
    /* ------------------------------------ */
    .about {
        grid-template-columns: repeat(1 , 1fr);
    }
    .about-img img{
        display: none;
    }
    .about-content h2 {
        font-size: 50px;
    }
    .about-content p {
        font-size: 21px;
        line-height: 38px;
    }
    .about-work .row h2 {
        font-size: 33px;
    }
    .about-work .row h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .destination .des-title h2 {
        font-size: 36px;
    }
    .destination .des-title p {
        font-size: 18px;
        line-height: 25px;
    }
    .des-main {
        grid-template-columns: repeat(2 , 1fr);
        gap: 2rem;
    }
    .tes-content .row p {
        font-size: 18px;
        line-height: 28px;
    }
    
}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .menu {
        display:none;
        position: absolute;
        top: 5%;
        right: 0;
        width: 30%;
        background: rebeccapurple;
        z-index: 100;
        padding: 20px;
    }
    .menu li a {
        font-size: 20px;
        display: inline-block;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
    }
    .home-content h1{
        font-size: 48px;
    }
    .home-content p {
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
        padding-bottom: 20px;
    }
    .home-img img{
        width: 100%;
    }
    .category{
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        
    }
    .destination .des-title h2 {
        font-size: 36px;
    }
    .destination .des-title p {
        font-size: 16px;
        line-height: 25px;
    }
    .des-main {
        grid-template-columns: repeat(1 , 1fr);
        gap: 2rem;
    }
    .testimonial {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .tes-content h2 {
        font-size: 28px;
    }
    .tes-img img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid red;
    }
    .tes-content .row p {
        font-size: 20px;
        line-height: 30px;
    }
}

/* 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/